@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Itim&family=Kaushan+Script&display=swap');
body{
    margin:0;
    background-color:#000000;
    background-size: cover;
    font-family: 'Itim', cursive;
    background-image: url('w10.jpg');
   
}
div{
    align-items:center;
   
}
.header{
    background-image:  linear-gradient(to right,#012C5B,#01487B,#00A8E1,#01487B,#012C5B);
    color:#000000;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    position:sticky;
    padding-bottom:2%;
    flex-direction: column;
    z-index:2;
    overflow: visible;
}
h1{
  font-family: 'Berkshire Swash', cursive;
  letter-spacing:1px;
    font-weight: 900;
    text-shadow: 2px 2px 3px #00aeff;
}
#search{
  position: relative;
  width: 280px;
  padding: 4% 2%;
  border: 2px solid #1f8cd4;
  border-radius: 7%;
  display: inline-block;
  border-radius: 18px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px #0a395f; 
}
#search::placeholder{
  font-weight: 500;
  color: #003e70
}
main{
  display: flex;
  flex-wrap:wrap;
  padding:2%;
  margin-left:6%;
}
.image{
  position: relative;
  overflow: hidden;
  position: relative;
}
.each{
  margin:6%;
  box-shadow: 0px -2px 16px #0064c2;
}
.poster {
  width:16rem;
  height:19rem;
}
.poster:hover{
  -ms-transform: scale(1.15); 
    transform: scale(1.15); 
    transition: all 0.35s;
}

.overlay {
  position: absolute;
  top: -100px;
  bottom: -6px;
  left: -60px;
  right:-39px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(18, 12, 68);
}

.image:hover .overlay {
  opacity: 0.7;
  
}

.plot {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight:600;
  position: absolute;
  padding: 0%;
  top: 67%;
  left: 54%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title{
  width:11.8rem;
  padding:5%;
  margin-top:-1%;
  font-size:21px;
  font-weight:600;
}
.movieabout{
  margin-right:-1%;
  background-image:  linear-gradient(to right,#012C5B,#01487B,#00A8E1,#01487B,#012C5B);
  color: white;
}